<%- include('partials/header') %>

<h1>Add Movie</h1>

<form method="POST">
  <input class="form-control my-2" name="title" placeholder="Title">
  <input class="form-control my-2" name="genre" placeholder="Genre">
  <input class="form-control my-2" name="year" placeholder="Year">
  <input class="form-control my-2" name="rating" placeholder="Rating">
  <button class="btn btn-success">Submit</button>
</form>

<%- include('partials/footer') %>
