<%- include('partials/header') %>

<h1>Delete Movie</h1>

<p>Are you sure you want to delete <strong><%= movie.title %></strong>?</p>

<form method="POST">
  <button class="btn btn-danger">Confirm Delete</button>
</form>

<%- include('partials/footer') %>
